*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# local gradle properties
gradle.properties

# build directory
build/

# gradle directory
.gradle/
gradle

# idea files and directory
src/main/main.iml
.idea/
gradlew
gradlew.bat
*.iml

# logs folder
logs/

# database files
*.db